@model ServiceLayer.ViewModels.SaveType1ViewModel
@{
    ViewData["Title"] = "Eliminar Tipo";
}

<div class="row" style="margin-top:100px;">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-danger text-light">
                <h4> Esta seguro que desea eliminar el tipo @Model.Name?</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Type" asp-action="DeletePost">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-controller="Type" asp-action="Types" class="btn bg-warning">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
