@model List<ServiceLayer.ViewModels.Type1ViewModel>

@{
    ViewData["Title"] = "Tipos";
}


<div class="container-fluid" style="position: relative;">

    <div class="row">
        @if (Model == null || Model.Count == 0)
        {
            <div style="text-align: center;">
                <h2>Lo sentimos, no hay tipos agregados en <img style="height: 140px; width: 140px;" src="~/LogoPagina.png" /> aun.</h2>
                <a class="btn btn-outline-success" style="text-align:center; margin:-20px 20px 20px 20px;" asp-controller="Type" asp-action="Create"><h2>¡Agrega un tipo ya!</h2></a>
            </div>
            <img alt="Pika pika?" src="~/Pikachu.png" style="height:300px; width:300px; margin:-40px auto;" />
        }
        else
        {
            <div class="d-inline-block">
                <div style="text-align:center;">
                    <a asp-controller="Type" asp-action="Create" style="text-align: center; margin-bottom: px; padding-left: 300px; padding-right: 300px;" class="btn btn-outline-success">¡Agregar Tipo!</a>
                </div>
                <h2 style="text-align: center; padding: 20px;">Lista de Tipos Pokémon</h2>

            </div>
            @foreach (ServiceLayer.ViewModels.Type1ViewModel item in Model)
            {

                <div class="col-10 style="text-align: center;">
                    <div style="margin-left: 365px; margin-right:185px;" class="card shadow-sm border-0 mb-3">
                        <div class="card-body">
                            <h3 style="text-align: center;">@item.Name @item.Opcional</h3>
                        </div>
                        <div style="margin-right: 10px; margin-bottom:10px;" class="d-flex justify-content-center mt-2 align-items-center">
                            <div class="btn-group" style=" margin-top: -20px;">
                                <a asp-controller="Type" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info">Editar</a>
                                <a asp-controller="Type" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Borrar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>
